//! **************************************************************************
// Written by: Map P.20131013 on Sun Jun 25 14:28:27 2023
//! **************************************************************************

SCHEMATIC START;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

